<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vidup - Play</title>

    <link rel="icon" type="image/png" href="/assets/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/assets/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/assets/favicon-128.png" sizes="128x128" />
    <link rel="icon" type="image/png" href="/assets/favicon.ico" />

    <link href="/assets/app.css" rel="stylesheet">
  </head>
  <body>
    <table>
      <tr><td>
        <video id="vidup" width="720" controls preload="auto" poster="/files/{{video}}.jpg">
          <source src="/files/{{video}}.mp4" type='video/mp4'>
        </video>
      </td></tr>
    </table>
  </body>
</html>
